@model Trident.Models.ViewModels.CharacterEdit
@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <link href="~/Content/members.css" rel="stylesheet" asp-file-version="true" />
}

<div class="banner flex-container EditBanner">
    <h2 class="banner-title wrapper">Edit Character</h2>
</div>

<div class="container body-content">
    <form method="post" action="/Character/Edit/@Model.character.CharacterID">
        <div class="form-group">
            <label>Belongs to:</label>
            <select class="form-control" id="CharacterMember" name="CharacterMember">
                @foreach (var member in Model.members)
                {
                    string current = "";
                    if (member.MemberID == Model.character.member.MemberID)
                    {
                        current = "selected";
                    }
                    <option value="@member.MemberID" @current>@member.MemberName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" value="@Model.character.CharacterName" id="CharacterName" name="CharacterName">
            <p class="form-group error">@TempData["characterNameError"]</p>
        </div>
        <div class="form-group">
            <label for="CharacterWeapon">Character Weapon</label>
            <select class="form-control" id="CharacterWeapon" name="CharacterWeapon">
                @for (int i = 0; i <= 5; i++)
                {
                    string select = "";
                    int weaponLevels = i;
                    if (Model.character.CharacterWeapon == weaponLevels)
                    {
                        select = "selected";
                    }
                    <option value="@weaponLevels" @select>@weaponLevels</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Character Treasure</label>
            <select class="form-control" id="CharacterTreasure" name="CharacterTreasure">
                @for (int i = 0; i <= 5; i++)
                {
                    string select = "";
                    int treasureLevels = i;
                    if (Model.character.CharacterTreasure == treasureLevels)
                    {
                        select = "selected";
                    }
                    <option value="@treasureLevels" @select>@treasureLevels</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
