@model Trident.Models.Character
@{
    ViewBag.Title = "Show";
}

<h2>@Model.CharacterName</h2>
@*Old edit link*@
@*<div>
        @Html.ActionLink("Edit", "Edit/" + Model.CharacterID)
    </div>*@
<form method="get" action="/Character/Edit/@Model.CharacterID">
    <button type="submit" class="btn btn-primary">Edit Character</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Role</th>
            <th scope="col">Type</th>
            <th scope="col">Weapon Level</th>
            <th scope="col">Belongs To</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row"></th>
                <td>@Model.CharacterRole</td>
                <td>@Model.CharacterType</td>
                <td>@Model.CharacterWeapon</td>
                <td>@Model.member.MemberName</td>
            </tr>
    </tbody>
</table>