@model IEnumerable<Trident.Models.Team>

@{
    ViewBag.Title = "Teams";
}

@if (TempData["AddSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Team added!</strong>
    </div>
}
else if (TempData["AddFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to add team</strong>
    </div>
}
else if (TempData["DeleteSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Team deleted!</strong>
    </div>
}
else if (TempData["DeleteFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to delete team</strong>
    </div>
}

<div class="container body-content">
<h2>Teams</h2>
    <form method="get" action="/Team/New">
        <button type="submit" class="btn btn-primary">Create Team</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">Leader</th>
                <th scope="col">Boss</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNo = 0;}
            @foreach (var team in Model)
            {
                <tr>
                    <th scope="row">@{rowNo++;} @rowNo</th>
                    <td>@Html.ActionLink(team.TeamName, "Show/" + team.TeamID)</td>
                    <td>@team.TeamRep</td>
                    <td>@team.TeamType</td>
                    <td>@team.Members.Count()</td>
                    @if(team.TeamName == "Unassigned")
                    {
                        <td></td>
                    }
                    else
                    {
                    <td>@Html.ActionLink("Delete", "Delete", new { id = team.TeamID }, new { onclick = "return confirm('Are you sure you want to delete this team?');" })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>