@model Trident.Models.Team

@{
    ViewBag.Title = "Show";
}

@section scripts
{
    <link href="~/Content/members.css" rel="stylesheet" asp-file-version="true" />
}

<div class="banner flex-container ShowBanner">
    <h2 class="banner-title wrapper">Team</h2>
</div>

@if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Team edited!</strong>
    </div>
}
else if (TempData["EditFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed edit team</strong>
    </div>
}

<div class="container body-content">
    <h2>@Model.TeamName</h2>
    <h4>Team Lead: @Model.TeamRep</h4>
    <h4>Boss: @Model.TeamType</h4>
    <form method="get" action="/Team/Edit/@Model.TeamID">
        <button type="submit" class="btn btn-primary">Edit Team</button>
    </form>
    <div id="characterList">
        <h3>Members:</h3>
        <form method="get" action="/Member/New">
            <button type="submit" class="btn btn-primary">Add Member</button>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Member Strikes</th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var member in Model.Members)
                {
                    <tr>
                        <th scope="row">@{rowNo++;} @rowNo</th>
                        <td>@Html.ActionLink(member.MemberName, "Show/" + member.MemberID, "Member")</td>
                        <td>@member.MemberStrikes</td>
                        <td><a href="@Url.Action("Edit/" + member.MemberID, "Member")">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="container back-to-list">
    @Html.ActionLink("Back to team list", "List", "Team")
</div>