@model Trident.Models.ViewModels.MemberEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/Member/Edit/@Model.member.MemberID">
    <div class="form-group">
        <label>Team:</label>
        <select class="form-control" id="MemberTeam" name="MemberTeam">
           @foreach (var team in Model.teams)
           {
               string current = "";
               if (team.TeamID == Model.member.team.TeamID)
               {
                   current = "selected";
               }
               <option value="@team.TeamID" @current>@team.TeamName</option>
           }
        </select>
        <label for="MemberName">Username</label>
        <input type="text" class="form-control" value="@Model.member.MemberName" id="MemberName" name="MemberName">
    </div>
    <div class="form-group">
        <label for="MemberLevel">Level</label>
        <input type="text" class="form-control" value="@Model.member.MemberLevel" id="MemberLevel" name="MemberLevel">
    </div>
    <div class="form-group">
        <label for="MemberSpecialty">Specialty</label>
        <select class="form-control" id="MemberSpecialty" name="MemberSpecialty">
            @{
                string[] specialtyArray = { "Magic", "Physical", "Both"};
                foreach (string specialty in specialtyArray)
                {
                    string selected = "";
                    if (Model.member.MemberSpecialty == specialty)
                    {
                        selected = "selected";
                    }
                    <option value=@specialty @selected>@specialty</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="MemberStrikes">Strikes</label>
        <select class="form-control" id="MemberStrikes" name="MemberStrikes">
            @for (int i = 0; i <= 3; i++)
            {
                string select = "";
                int strikesValue = i;
                if (Model.member.MemberStrikes == strikesValue)
                {
                    select = "selected";
                }
                <option value="@strikesValue" @select>@strikesValue</option>
            }

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
