@model IEnumerable<Trident.Models.Member>

@{
    /**/

    ViewBag.Title = "Members";
}

<h2>Members</h2>

<form method="get" action="/Member/New">
    <button type="submit" class="btn btn-primary">Add Member</button>
</form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Member</th>
                <th scope="col">Level</th>
                <th scope="col">Specialty</th>
                <th scope="col">Strikes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@Html.ActionLink(member.MemberName, "Show/" + member.MemberID)</td>
                    <td>@member.MemberLevel</td>
                    <td>@member.MemberSpecialty</td>
                    <td>@member.MemberStrikes</td>
                    <td>@member.Characters.Count()</td>
                    <td><a href="@Url.Action("Delete/" + member.MemberID)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>