@model IEnumerable<Trident.Models.Member>

@{
                /**/

                ViewBag.Title = "Members";
}

<h2>Members</h2>

<div id="addNewMember">
    @Html.ActionLink("Add a member", "New", "Member")
</div>

<ul class="list-unstyled">

    @foreach (var member in Model)
    {
        <div class="media">
            @if (member.HasPic == 1)
            {
                <img class="mr-3" src="~/imgs/members/@(member.MemberID).@(member.ImgType)">
            }
            else
            {
                <img src="~/imgs/members/default.png" />
            }
                <div class="media-body">
                    <h5 class="mt-0">@Html.ActionLink(member.MemberName, "Show/" + member.MemberID)</h5>
                    Role: @member.MemberRole, Level: @member.MemberLevel, Characters: @member.Characters.Count()
                </div>
                <div>
                    <a href="@Url.Action("Delete/" + member.MemberID)">Delete</a>
                </div>
        </div>
    }
</ul>
