@model Trident.Models.Member
@{
    ViewBag.Title = "Show";
}

@if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <strong>Member edited!</strong>
    </div>
}
else if (TempData["EditFail"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Failed to edit member</strong>
    </div>
}

<div class="container body-content">
    <h2>@Model.MemberName</h2>
    <h4>Level: @Model.MemberLevel</h4>
    <h4>Specialty: @Model.MemberSpecialty</h4>
    <h4>Strikes: @Model.MemberStrikes</h4>
    <form method="get" action="/Member/Edit/@Model.MemberID">
        <button type="submit" class="btn btn-primary">Edit Member</button>
    </form>
    <div class="member-show-team">
        <h3>Assigned to: @Model.team.TeamName</h3>
    </div>
    <div id="characterList">
        <h3>Characters:</h3>
        <form method="get" action="/Character/New">
            <button type="submit" class="btn btn-primary">Add Character</button>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Character</th>
                    <th scope="col">Weapon Level</th>
                    <th scope="col">Treasure Level</th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0;}
                @foreach (var character in Model.Characters)
                {
                    <tr>
                        <th scope="row">@{rowNo++;} @rowNo</th>
                        <td>@Html.ActionLink(character.CharacterName, "Show/" + character.CharacterID, "Character")</td>
                        <td>@character.CharacterWeapon</td>
                        <td>@character.CharacterTreasure</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Character", new { id = character.CharacterID, mid = Model.MemberID }, new { onclick = "return confirm('Are you sure you want to delete this character?');" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
