@model Trident.Models.Member
@{
    ViewBag.Title = "Show";
}

<h2>@Model.MemberName</h2>
<h3>Level @Model.MemberLevel</h3>
<h3>Role: @Model.MemberRole</h3>
<div>
    @Html.ActionLink("Edit", "Edit/"+Model.MemberID)
</div>
<h4>Characters:</h4>
@foreach(var character in Model.Characters)
{
    <div>@Html.ActionLink(character.CharacterName, "Show/" + character.CharacterID,"Character")</div>
}

